/* Mighty Meyer Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Begin Dummy Demo */

#main {
  max-width:1320px
  }

body {
  color:#333;
  background-color: #fffefe;
  font: 1.1em/1.4em 'Palatino Linotype','Book Antiqua', Palatino, Georgia, serif;
  margin:0;
  padding:4em 5em;
}

p {
  clear:both;
  display: block;
  margin:0 0 1em 0;
  }

p strong, p b {
  font-weight:bold
  }

a, a:visited {
  color:#b47;
  text-decoration: none;
  border-bottom:1px dotted #dbc;
  padding-bottom: .1em;
}

a:hover {
  color:#d16;
  border-color:#d9a;
}

.snippet {
  border:2px solid #fafafa;
  margin:1em 0 1.5em 0;
  padding:.5em;
  overflow:hidden;
  box-shadow: inset 0px 0px 7px rgba(50, 50, 50, 0.6);
  display: block;
  border-radius:5px;
}

.code-snippet {
  background-color: #0f192a;
}

.text-snippet {
  background-color:#e6f0f7;
  }

.text-snippet h4 {
  color:#578;
  line-height:1em;
  font: bold 1.3em Helvetica, Arial, sans-serif;
  margin: 0;
  padding:.3em;
  text-shadow: 0px 1px 0px rgba(255,255,255,1);
  text-transform: none;
}

.img-snippet {
  width:auto;
  float:left;
  clear:both;
}

.img-snippet img {
  box-shadow: 0 1px 3px #333;
}

.table-snippet p.note {
  border-top: 1px dotted #dadada;
  font-size:.9em;
  margin:1em 1em .5em 1em;
  padding-top:1em;
  text-align: center;
  }

h1, h2, h3, h4, h5, h6 {
  color:#455;
}

h1,h2,h3 {
  clear:both;
  display: block;
  margin:1.5em 0 .5em -15px;
}

header h1 {
  font: normal 3.2em/1em 'Chaparral Pro', 'Palatino Linotype','Book Antiqua', Palatino, Georgiam, serif;
  margin:0 0 .5em -.2em;
}

footer p.note {
  font-size:.8em;
  font-style:italic;
  text-align: center;
  padding-top: 4em;
}

ul, ol {
  display: block;
  list-style-position: outside;
  list-style-type: disc;
  color:#888;
}

li {
  margin-bottom: .5em
  }

li b {
  color:#333;
  }

.hero-block p {
  color:#737f7f;
  font-size:1.2em;
  line-height:1.3em;
  margin-left:-.5em;
}

h2 {
  font: normal 2em 'Chaparral Pro', 'Palatino Linotype','Book Antiqua', Palatino, Georgiam, serif;
  border-bottom:2px solid #e6f0f7;
  padding-bottom:.1em;
  padding-top: 1.5em;
}

h3 {
  color:#5d5d52;
  font-size:1.2em;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: .8em;
  text-transform: uppercase
  }

h4 {
  font-size:1em;
  font-weight: bold;
  margin: 1.5em 0 .5em 0;
  }

p.note {
  color:#666;
  font-size:.9em;
  font-style: italic;
  margin:.5em 0;
  }


table
{
  font:.8em "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  background: #fff;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
}

table th
{
  font-size: 1em;
  font-weight: normal;
  background-color: #343941;
  color: #fff;
  padding: 5px 8px;
  border: 2px solid #efefef;
  border-width: 2 0px;
  
  background: #343941;
  background: -moz-linear-gradient(top,  #424a51 0%, #40454f 50%, #343941 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424a51), color-stop(50%,#40454f), color-stop(100%,#343941));
  background: -webkit-linear-gradient(top,  #424a51 0%,#40454f 50%,#343941 100%);
  background: -o-linear-gradient(top,  #424a51 0%,#40454f 50%,#343941 100%);
  background: -ms-linear-gradient(top,  #424a51 0%,#40454f 50%,#343941 100%);
  background: linear-gradient(top,  #424a51 0%,#40454f 50%,#343941 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424a51', endColorstr='#343941',GradientType=0 );

}

table th.objective {
 width:25%;
 white-space:nowrap;
 min-width:150px;
}

table th.output {
 width:40%;
}

table td
{
  border-bottom: 1px solid #efefef;
  color: #666;
  padding: 6px 8px;
}

table td span
{
  font: italic .9em 'Chaparral Pro', 'Palatino Linotype','Book Antiqua', Palatino, Georgiam, serif;
  display: block;
}

table tbody tr:hover td
{
  color: #000;
}

table code {
  white-space:nowrap;
}

/* Some desperate tweaks */
.text-table th.objective{
  width:20%;
  min-width:100px;
  }

.text-table th.output{
  width:50%;
  }


.image-table th.objective {
  width:30%;
  min-width:150px;
  }

.image-table th.output {
  width:40%;
  }

.image-table td {
  vertical-align:middle;
  }
